     
h2{
     color: white;
     text-align: center;
     font-size: 40px;
}

p{
  color: black;
}
#capa1{
    font-size: 15px;
    margin-top: 10px;
	margin-left: 200px;
	width: 1500px;
}
#capa2{
   font-size: 15px;
   margin-top: 10px;
	margin-left: 200px;
	width: 1500px;
}
#capa3{
   font-size: 15px;
   margin-top: 10px;
	margin-left: 200px;
	width: 1500px;
}
#capa4{
   font-size: 15px;
   margin-top: 10px;
	margin-left: 200px;
	width: 1500px;
}
#capa5{
    font-size: 15px;
	margin-top: 10px;
	margin-left: 200px;
	width: 1500px;
}
#capa6{
     font-size: 15px;
	 margin-top: 10px;
	margin-left: 200px;
	width: 1500px;
}
#capa7{
      font-size: 15px;
	  margin-top: 10px;
	margin-left: 200px;
	width: 1500px;
}

#capa8{
      font-size: 15px;
	  margin-top: 10px;
	margin-left: 200px;
	width: 1500px;
}
#capa9{
      font-size: 15px;
	  margin-top: 10px;
	  margin-left: 200px;
	  width: 1500px;
}
hr{
    color: white;
	text-align: right;
	font-size: 9px;
	height: 15px;
	width: 50%;
	
}

h1{
    text-align: center;
}
   

#capa1{
    width: 600px;
	
}   
#capa2{
    width: 600px;
	
}
#capa3{
    width: 600px;
    
}
#capa4{
    width: 600px;
	
}
#capa5{
    width: 600px;
	
}
#capa6{
    width: 600px;
	
}
#capa7{
    width: 600px;
	
}
#capa8{
    width: 600px;

}
#capa9{
    width: 600px;
	
}
#capa{
    margin-top: 10px;
	margin-left: 200px;
	width: 615px;
}
body{
   background-image: url("fondocuerpo.jpg");
}
#capas{
    background-color: rgba(232, 232, 232, 0.2);
	width: 1000px;
	position: absolute;
	transform:translate(-50, 50);
	  top: 35%;
	  left: 34%;
	   margin-top: -250px;   /* height/2 = 500px / 2 */
       margin-left: -250px;  /* width/2 = 500px / 2 */
	
}
#capas{
     border: 1px solid black;
}

 























